<template>
  <div class="app">
    <post-form @create="createPost"></post-form>
    <post-list :posts="posts" />
  </div>
</template>

<script>
  import PostForm from "@/components/PostForm";
  import PostList from "@/components/PostList";

  export default {
    components: {
      PostList, PostForm,
    },
    data() {
      return {
        posts: [
          { id: 1, title: 'title 1', body: 'Description 1' },
          { id: 2, title: 'title 2', body: 'Description 2' },
          { id: 3, title: 'title 3', body: 'Description 3' },
        ],
      }
    },
    methods: {
      createPost(post) {
        this.posts.push(post);
      }
    }
  }
</script>

<style>
  * {
    box-sizing: border-box;
  }

  .app {
    padding: 2rem;
  }

  html {
    font-size: 10px;  
  }
</style>
