<template>
    <form action="" @submit.prevent>
        <h4 class="text">Создание поста</h4>
        <input type="text" class="text input" placeholder="Название" v-model="post.title" >
        <input type="text" class="text input" placeholder="Описание" v-model="post.body" >
        <button @click="createPost">Создать пост</button>
    </form>
</template>

<script>
export default {
    data() {
        return {
            post: {
                title: "",
                body: "",
            }
        }
    },
    methods: {
        createPost() {
            this.post.id = Date.now();
            this.$emit('create', this.post);
            this.post = {
                title: "",
                body: "",
            }
        }
    }
}
</script>

<style>
    .input {
        margin: 2rem;
    }

    .text {
        font-size: 3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>