<template>
<div class="post">
    <div class="text"><strong>Название</strong>{{ post.title }}</div>
    <div class="text"><strong>Описание</strong>{{ post.body }}</div>
</div>
</template>

<script>
export default {
    props: {
        post: {
            type: Object,
        }
    },
    mounted() {
        console.log(this.post);
    }
}
</script>

<style scoped>
    .post {
        padding: 2rem;
        margin: 1rem;
        border: 1px solid darkcyan;
    }

    .text {
        font-size: 3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>