<template>
<div>
    <div class="" v-for="post in posts" :key="post.id">
        <post-item :post="post" />
    </div>
</div>
</template>

<script>
import PostItem from './PostItem.vue';

export default {
    components: { PostItem },
    props: {
        posts: {
            type: Array,
        }
    }
}
</script>
    
<style scoped>
    .text {
        font-size: 3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>